.site-header {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 75px;
  justify-content: space-between;
  & .site-header__logo-container {
    & .site-header__logo {
      height: 25px;
    }
  }
  & .site-header__nav {
    flex-basis: 80%;
    margin-left: 45px;
    & .site-header__list {
      display: flex;
      align-items: center;
      & .site-header__list-item {
        margin-right: 20px;
      }
    }
  }
  & .site-header__nav :any-link {
    color: #e5e5e5;
    transition: color 0.1s linear;
  }
  & .site-header__nav :any-link:hover {
    color: color(rgb(229, 229, 229) alpha(-20%));
  }
  & .site-header__menu {
    display: flex;
    align-items: center;
    & .site-header__item {
      color: white;
      font-size: 20px;
      position: relative;
      margin-left: 30px;
      cursor: pointer;
      & .site-header__icon-wrapper {
        display: flex;
        align-items: center;
      }
      & .site-header__notification-wrapper {
        position: absolute;
        top: -10px;
        left: 5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background-color: var(--accent, #d32f27);
      }
      & .site-header__search {
        transition: all 0.2s linear;
        width: 0px;
        height: 27px;
        & input {
          transition: all 0.2s linear;
          transform-origin: 100% 100%;
          font-size: 14px;
          background-color: rgba(0, 0, 0, 0.5);
          height: 27px;
          caret-color: white;
          width: 0px;
          border: 0;
        }
      }
      & .site-header__search-container {
        border: 1px solid transparent;
        padding: 3px 5px;
      }
      & .site-header__search-container.active {
        border-color: rgba(255, 255, 255, 0.7);
      }
      & .site-header__search-container.active .site-header__search {
        width: 250px;
        margin-left: 10px;
        & input {
          width: 100%;
        }
      }
    }
  }
}
