body.player {
  background: black !important;
  overflow: hidden;
}

.player {
  min-width: 100%;
  min-height: 100vh;
  background-color: black;
  .player__video-file {
    width: 100%;
    min-height: 100vh;
  }
  .player__backbutton {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 60px;
    color: color(var(--grey) alpha(80%));
    transition: color 0.3s linear, opacity 0.5s ease-out;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    &:hover {
      color: var(--grey);
    }
  }
  .player__controls {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 1350px;
    bottom: 55px;
    left: calc(50% - 675px);
    .player__controls-bar {
      border-radius: 10px;
      background-color: #262626;
      box-shadow: 0px 2px 1px #000;
      display: grid;
      grid-template-columns: [first-one] 5% [play-btn] 5% [volume-btn] 75% [info] 5% [question-btn] 5% [subs-btn] 5% [full-btn];
      grid-template-rows: 65px;
      .player__btn {
        justify-content: center;
        font-size: 35px;
        color: color(var(--grey) alpha(80%));
        cursor: pointer;
        transition: all 0.2s ease-in;
        border-left: 1px solid #151515;
        border-right: 1px solid #2c2c2c;
        &:hover i {
          transform: scale(1.1);
          color: var(--grey);
        }
      }
      .player__item {
        display: flex;
        align-items: center;
        border-left: 1px solid #151515;
        border-right: 1px solid #2c2c2c;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: none;
        }
      }
      .player__info {
        font-size: 18px;
        padding-left: 10px;
      }
    }
    .player__top-bar {
      margin-bottom: 20px;
      font-size: 20px;
      text-shadow: 1px 1px 0px black;
      display: grid;
      grid-template-columns: 90% 10%;
      grid-template-rows: 21px;
      .player__time-left {
        text-align: right;
      }
      .bullet {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: var(--accent);
        position: absolute;
        z-index: 10;
        box-shadow: 0px 2px 1px #000;
        top: -2px;
      }
      .player__progress {
        border-radius: 10px;
        box-shadow: 0px 2px 1px #000;
        height: 21px;
        width: 100%;
        overflow: hidden;
        &[value]::-webkit-progress-value {
          background-color: var(--accent);
        }
        &[value]::-webkit-progress-bar {
          background-color: #262626;
          overflow: hidden;
        }
      }
    }
  }
  .player__controls.showing,
  .player__backbutton.showing {
    opacity: 1;
  }
}
