.player {
  min-width: 100%;
  min-height: 100vh;
  .player__video-file {
    width: 100%;
    height: 100%;
  }
  .player__controls {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    position: absolute;
    z-index: 10;
    .player__backbutton {
      position: absolute;
      top: 40px;
      left: 40px;
      font-size: 60px;
      color: color(var(--grey) alpha(80%));
      transition: color 0.3s linear;
      cursor: pointer;
      &:hover {
        color: var(--grey);
      }
    }
  }
  .player__controls.showing {
    opacity: 1;
  }
}
