.hero-video {
  margin: -115px 0px;
  position: relative;
  & * {
    max-width: 100%;
    position: absolute;
    top: 0;
    min-width: 100%;
  }
  & .hero-video__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  & .hero-video__placeholder {
    z-index: 3;
    transition: opacity 0.3s linear;
    opacity: 1;
    height: 840px;
  }
}

.hero-video__placeholder.js-hidden {
  opacity: 0;
}
