.hero-video {
  margin: -115px 0px;
  position: relative;
  & .hero-video__file {
    max-width: 100%;
  }
  & .hero-vide__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
